name: "Build and Publish"
on:
  push:
    branches: 
      - master

jobs:
  run:
    name: Version Check and Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@master
      - run: >
          ./Build/full-release-pipeline.ps1
          -PSGalleryApiKey ${{ secrets.PSGALLERY_API_KEY }}
        shell: pwsh